@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./pages/home";

@import "./components/button";

@import "./layout/header";
@import "./layout/grid";

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400px;
    letter-spacing: 3.5rem;
    opacity: 0.6;
    color: $color-white;
    animation-name: moveInLeft;
    animation-duration: 1s;
    margin: 4rem;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 900px;
    letter-spacing: 1.8rem;
    animation-name: moveInRight;
    animation-duration: 1s;
  }
}
